<%= request_form(@url) %>
<input type="hidden" name="_method" value="PATCH">

<div class="form-group">
<textarea rows="10" class="form-control" name="memo"><%= @title %>
<%= @body %></textarea>
</div>
<button type='submit' class='btn btn-primary'>変更</button>
</form>