<form action='/top' method='post'>
  <div class="form-group">
    <textarea rows="10" class="form-control" name="memo"></textarea>
  </div>
  <button type='submit' class='btn btn-primary'>保存</button>
</form>