<h4><%= @title %></h4>
<p><%= @body %></p>
<p>
  <a class="btn btn-primary" href="/edit/<%= @number %>" role="button">編集</a>
  <form action="/show/<%= @number %>" method='post'>
  <input type="hidden" name="_method" value="delete">
  <button type='submit' class='btn btn-primary' role='button'>削除</button>
</p>
</form>